 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
     outline: none;
 }
 
 .s1 {
     background: url('../images/2.jpg');
     background-size: cover;
 }
 
 .s1 ul {
     position: absolute;
     top: 0;
     width: 100%;
     justify-content: right;
     align-items: center;
     display: flex;
     margin-top: 20px;
 }
 
 .s1 ul li {
     list-style: none;
     margin: 0 30px;
 }
 
 .s1 ul li a {
     color: #000;
     text-decoration: none;
     font-size: 18px;
     font-weight: 600;
 }
 
 .fp-controlArrow.fp-prev {
     border-width: 20px 20px 20px 0 !important;
     top: 95%;
     left: 35px !important;
 }
 
 .fp-controlArrow.fp-next {
     top: 95%;
     left: 90px !important;
     border-width: 20px 0 20px 20px !important;
 }
 
 .s1 h1 {
     width: 40%;
     text-align: center;
     color: #000;
     margin-top: -200px;
     font-size: 50px;
 }
 
 .s1 h1 a {
     text-decoration: none;
     /* color: navy; */
     color: #992400;
 }
 
 .s2 {
     background: url('../images/3.jpg');
     background-size: cover;
 }
 
 .s2 .section-two {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 .s2 .section-two h3 {
     width: 100%;
     font-size: 45px;
     text-align: center;
     margin-bottom: 50px;
 }
 
 .s2 .section-two h3 span {
     color: red;
 }
 
 .s2 .section-two ul {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .s2 .section-two ul li {
     width: 49%;
     background-color: rgba(255, 250, 210, 0.8);
     text-align: center;
     margin-top: 15px;
     padding: 10px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }
 
 .s2 .section-two ul li a {
     color: black;
 }
 
 .s2 .section-two ul li a h4 {
     padding: 10px 0;
 }
 
 .s2 .section-two ul li svg {
     font-size: 140px;
 }
 
 .s3 {
     background: url('../images/5.jpg');
     background-size: cover;
 }
 
 .s3 .section-three {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 
 .s3 .section-three h3 {
     width: 100%;
     font-size: 45px;
     padding: 0 40px;
     margin-bottom: 50px;
     color: white;
 }
 
 .s3 .section-three h3 span {
     color: rgb(255, 157, 29);
 }
 
 .s3 .section-three ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 43%;
 }
 
 .s3 .section-three ul li {
     width: 49%;
     background-color: rgba(255, 250, 210, 0.5);
     text-align: center;
     margin-top: 15px;
     padding: 10px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }
 
 .s3 .section-three ul li a img {
     width: 100%;
     height: 260px;
 }
 
 .s3 .section-three ul li a h4 {
     color: black;
 }
 
 .s4 {
     background: url('../images/4.jpg');
     background-size: cover;
 }
 
 .s4 .section-four {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 .s4 .section-four h3 {
     width: 100%;
     font-size: 45px;
     margin-bottom: 50px;
     color: wheat;
     padding: 35px;
 }
 
 .s4 .section-four h3 span {
     color: #94f1c3;
 }
 
 .s4 .section-four form {
     width: 23%;
 }
 
 .s4 .section-four form input {
     width: 100%;
     padding: 10px;
     margin-top: 20px;
     background: rgba(0, 0, 0, 0.6);
     color: white;
     border: 3px solid rgb(87, 87, 87);
     font-size: 19px;
 }
 
 .s4 .section-four form input[type=submit] {
     color: white;
     font-size: 19px;
     margin-top: 20px;
     border: none;
     background: #c00;
 }
 
 .s4 .section-four form input[type=submit]:hover {
     cursor: pointer;
 }
 
 .s4 .section-four form textarea {
     padding: 10px;
     width: 100%;
     resize: none;
     height: 170px;
     margin-top: 20px;
     background: rgba(0, 0, 0, 0.6);
     border: 3px solid rgb(87, 87, 87);
     color: white;
     font-size: 19px;
     font-weight: 599;
 }
 
 ::placeholder {
     color: rgb(218, 218, 218);
 }
 
 .s5 {
     background-color: black;
 }
 
 .s5 .footer-about {
     width: 900px;
     margin: auto;
     color: white;
     text-align: center;
 }
 
 .s5 .footer-about .footer-desk {
     width: 90%;
     margin: auto;
     text-align: center;
     justify-content: center;
     margin-bottom: 40px;
 }
 
 .s5 .footer-about .footer-desk h2 {
     margin-bottom: 30px;
     font-size: 35px;
 }
 
 .s5 .footer-about .footer-car h2 {
     font-size: 27px;
     margin-bottom: 20px;
 }
 
 .s5 .footer-about .footer-car ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
 .s5 .footer-about .footer-car ul li {
     width: 24%;
     margin: 3px;
 }
 
 .s5 .footer-about .footer-car ul li img {
     width: 100%;
     height: 140px;
 }
 
 .s5 .footer-about .copy-right p {
     margin-top: 60px;
 }
 
 #fp-nav ul li a span {
     background: white !important;
 }
 
 #fp-nav ul li a.active span {
     background-color: red !important;
 }